@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300;400&family=Yeseva+One&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

:root{
    --font-primary: "Big Shoulders Inline Display", cursive;
    --font-secudary: "Yeseva One", cursive;
}


.hamburguer{
    /* background-color: rgb(0, 0, 0); */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 17rem;
}

.line{
    width: 100%;
    height: 0.1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1rem 0.1rem 1px rgb(0, 0, 0);
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;

}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F80ED;
    color: #ffffff;
    font-family: var(--font-secudary);
    opacity: 0;

}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #2F80ED;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1.2rem;

}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 15s;
}


@keyframes zoom {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-family: var(--font-primary);
    font-weight: 250;
    text-shadow: .2rem .1em 2px rgba(0, 0, 0, 0.097);
    line-height: 3.5rem;
    opacity: 0;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secudary);
    color: rgb(255, 255, 255);
    text-shadow: 0rem  0rem 20px rgba(0, 0, 0, 0.385);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-secudary);
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem ;
    letter-spacing: .1rem;
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}


.banner button:hover{
    color: rgb(0, 0, 0);
}

@keyframes moveBanner{
    0%{
        transform: translateY(9rem) rotateY(-30deg);

    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
        
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #00000098;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: 0.5rem;
}

.menu-link{
    font-family: var(--font-secudary);
    font-size: 2rem;
    color: #ffffff;
    transition: color 1s;
}

.menu-link:hover{
    color: rgb(47, 128, 237);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: rgba(0, 0, 0, 0.145);
    color: #000000;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover{
    background-color: #2F80ED;
}